<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--开启配置注解的支持-->
    <context:annotation-config/>

    <bean id="cat2" class="com.demo.pojo.Cat"/>
    <bean id="dog2" class="com.demo.pojo.Dog"/>
    <!--byName:会自动在容器上下文中查找和自己对象set方法后面的值对应的beanId，需要beanId唯一-->
    <!--byType:会自动在容器上下文中查找和自己对象属性类型相同的bean,需要保证类型全局唯一-->
<!--    <bean id="person" class="com.demo.pojo.Person" autowire="byType">-->
<!--        <property name="name" value="Ace"/>-->
<!--&lt;!&ndash;        <property name="cat" ref="cat"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="dog" ref="dog"/>&ndash;&gt;-->
<!--    </bean>-->

    <bean id="person" class="com.demo.pojo.Person"/>

</beans>