<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--使用Spring来创建对象，在Spring这些都称为Bean
    类型 变量名 = new 类型()
    Hello hello = new Hello();
    bean id = 变量名
    class = new 的对象
    property相当于给对象的属性赋值
    -->
    <bean id="mySqlImpl" class="com.demo.dao.UserDaoMySqlImpl">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="oracleImpl" class="com.demo.dao.UserDaoOracleImpl">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <!--
    ref: 引用Spring容器中创建好的对象
    value: 具体的值，基本数据类型
    -->
    <bean id="userServiceImpl" class="com.demo.service.UserServiceImpl">
        <property name="userDao" ref="oracleImpl"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>
</beans>